<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COMPRA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COMPRA</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-card>
      <img src="/assets/images/im1.jpg" alt="..." width=100%>
      <ion-card-content>
        <ion-card-title>Buggati Type 57C Atalante 1938</ion-card-title>
        <p>Ofrecemos un clásico y lujoso auto reacondicionado. Cuenta con motor y carrocería moderna. Listo para usar.</p>
        <ion-button href="#" expand="full">COMPRAR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <img src="/assets/images/im2.webp" alt="...">
      <ion-card-content>
        <ion-card-title>Chevrolett Chevelle 1968</ion-card-title>
        <p>Disponible en excelentes condiciones. Kilometraje: 100.000. Cuenta con una refacción completa de aros.</p>
        <ion-button href="#" expand="full">COMPRAR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
