
<ion-content [fullscreen]="true">

  <app-header></app-header>

  <ion-item>
    <ion-label>
      <h1>ZE</h1>
      <p>Pasión por los autos</p>
    </ion-label>
  </ion-item>

  <ion-img src="/assets/images/im3.jpg" class="ion-img-fluid" alt="..."></ion-img>
  <ion-img src="/assets/images/ford-gif2.gif" class="ion-img-fluid" alt="..."></ion-img>
  <ion-img src="/assets/images/im4.jpg" class="ion-img-fluid" alt="..."></ion-img>
  <ion-img src="/assets/images/ford-gif1.gif" class="ion-img-fluid" alt="..."></ion-img>

</ion-content>
